sp-pause { display: none; }
sp-step { display: none; }
sp-anim { display: none; }
.sp-anim-ghost { display: none; }

.sp-anim-hidden { opacity: 0; pointer-events: none; transition: opacity 1000ms ease; }
.sp-anim-shown { opacity: 1; pointer-events: auto; transition: opacity 1000ms ease; }
