/* Theme and Variants */

/*
Guiding principle:
- the default way of setting the theme is on the :root / html,
- in addition, one can use some theme/variant(s) for a specific slide only,
- global-set themes should not apply if slide is .nogt (no global theme).

Theme authors can use the pattern used below, with:
- the "is-" convention for variants / facets
- the "theme-" convention for themes
*/

@import url(/example/nunito.css);
/*@import url(https://fonts.bunny.net/css?family=roboto-flex:400);*/
@import url(https://fonts.bunny.net/css?family=cedarville-cursive:400);
@import url(https://fonts.bunny.net/css?family=cabin-sketch:400,700);




/* Variants, meant to be combined with most themes */
.is-small { :root& .sp-slide:not(.nogt), .sp-slide& {
    --sp-scale: 0.85;
}}
.is-smaller { :root& .sp-slide:not(.nogt), .sp-slide& {
    --sp-scale: 0.75;
}}
.is-smallerer { :root& .sp-slide:not(.nogt), .sp-slide& {
    --sp-scale: 0.65;
}}
.is-sharp { :root& .sp-slide:not(.nogt), .sp-slide& {
    --sp-text: var(--sp-auto-black);
    --sp-bg: var(--sp-auto-white);
    h1 { color: var(--sp-text) !important; }
    h2 { color: var(--sp-accent-2) !important; }
    h3 { color: var(--sp-accent) !important; }
}}
.is-draft { :root& .sp-slide:not(.nogt), .sp-slide& {
    font-family: 'Cedarville Cursive', handwriting !important;
}}
.is-paper { :root& .sp-slide:not(.nogt), .sp-slide& {
    background: url("data:image/svg+xml;utf8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 1920 1920%22%3E%3Cdefs%3E%3Cfilter id%3D%22noise%22 x%3D%220%25%22 y%3D%220%25%22 width%3D%22100%25%22 height%3D%22100%25%22%3E%3CfeTurbulence type%3D%22fractalNoise%22 baseFrequency%3D%220.98%22 numOctaves%3D%221%22 seed%3D%22191518%22 stitchTiles%3D%22stitch%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%222.2 0 0 0 -0.55  0 2.2 0 0 -0.55  0 0 2.2 0 -0.55  0 0 0 1 0%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%22-1 0 0 0 1  0 -1 0 0 1  0 0 -1 0 1  0 0 0 1 0%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%220 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0.33 0.33 0.34 0 0%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Crect width%3D%221920%22 height%3D%221920%22 fill%3D%22%23ffffff%22%2F%3E%3Crect width%3D%221920%22 height%3D%221920%22 filter%3D%22url(%23noise)blur(1px)%22 opacity%3D%220.200%22%2F%3E%3C%2Fsvg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    [data-dark-mode="dark"] & {
        background: url("data:image/svg+xml;utf8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 1920 1920%22%3E%3Cdefs%3E%3Cfilter id%3D%22noise%22 x%3D%220%25%22 y%3D%220%25%22 width%3D%22100%25%22 height%3D%22100%25%22%3E%3CfeTurbulence type%3D%22fractalNoise%22 baseFrequency%3D%220.98%22 numOctaves%3D%221%22 seed%3D%22191518%22 stitchTiles%3D%22stitch%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%222.2 0 0 0 -0.55  0 2.2 0 0 -0.55  0 0 2.2 0 -0.55  0 0 0 1 0%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%22-1 0 0 0 1  0 -1 0 0 1  0 0 -1 0 1  0 0 0 1 0%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%220 1 0 0 0  0 1 0 0 0  0 0 1 0 0  0.33 0.33 0.34 0 0%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Crect width%3D%221920%22 height%3D%221920%22 fill%3D%22%23000000%22%2F%3E%3Crect width%3D%221920%22 height%3D%221920%22 filter%3D%22url(%23noise)blur(1px)%22 opacity%3D%220.350%22%2F%3E%3C%2Fsvg%3E");
    }
}}
.is-bib-ellipsis { :root& .sp-slide:not(.nogt), .sp-slide& {
    .sp-bib {
        strong {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            max-width: 50%;
        }
    }
}}
.is-bib-accent { :root& .sp-slide:not(.nogt), .sp-slide& {
    .sp-bib {
        :target {
            outline: 5px solid var(--sp-accent);
        }
        em {
            color: var(--sp-accent-2);
        }
    }
}}
/* on by default */
:not(.isnt-helpers-01) { :root& .sp-slide:not(.nogt), .sp-slide& {
    .dnone { display: none !important; }
}}
:not(.isnt-helpers-02) { :root& .sp-slide:not(.nogt), .sp-slide& {
    .sp-drag-content {
        & > :first-child:last-child,
        & > [data-source-file-push]:first-child + :has(+ [data-source-file-pop]:last-child),
        & > [data-source-file-push]:first-child + :has(+ [data-source-file-pop]:last-child) svg
        {
            svg {
                position: absolute;
                width: 100%;
                height: auto;
                .fit-h & {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
}}
:not(.isnt-helpers-03) { :root& .sp-slide:not(.nogt), .sp-slide& {
    svg .fill-fg { &,* {fill: var(--sp-auto-black) !important; }}
    svg .stroke-fg { &,* {stroke: var(--sp-auto-black) !important; }}
    svg .color-fg { &,* {color: var(--sp-auto-black) !important; }}
    svg .fill-bg { &,* {fill: var(--sp-auto-white) !important; }}
    svg .stroke-bg { &,* {stroke: var(--sp-auto-white) !important; }}
    svg .color-bg { &,* {color: var(--sp-auto-white) !important; }}
}}
:not(.isnt-helpers-04) { :root& .sp-slide:not(.nogt), .sp-slide& {
}}





/* Themes */

/* apply style outside .sp-slide */
:root.theme-conference {
    .sp-progress { bottom: 0; top: revert; }
}
/* apply style to slides */
.theme-conference { :root& .sp-slide:not(.nogt), .sp-slide& {
    --sp-font-sans: 'Nunito', sans-serif;
    --sp-base-font-size: 3em; /*2.35em */;
    --sp-bg: var(--sp-auto-white);
    --sp-text: var(--sp-auto-black);

    /* theme overridable variables (reuse the above selector to do so) */
    --h1-em: 1.8;
    --h2-em: 2;
    --h3-em: 1.55;
    /* theme utily variables */
    --margin-factor: 1;

    &:has(h1,h2:not(.sp-bib *)) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1, h2, h3 {
        &:has(+ h4),
        ~ h4:has(+ h4) { margin-bottom: 0em; }
    }
    h1 {
        font-size: calc(1em * var(--h1-em));
        &, ~ h4 {
            margin-bottom: calc(0.8em * var(--margin-factor));
        }
        ~ h4 {
            --margin-factor: var(--h1-em);
            color: var(--sp-text);
            opacity: 0.8;
        }
    }
    h2 {
        font-size: calc(1em * var(--h2-em));
        color: var(--sp-auto-black);
        text-align: center;
        background: hsl(0 0% calc(100% - 100% * var(--sp-darkness)) / 0.75);
        &, ~ h4 {
            margin-bottom: calc(0.3em * var(--margin-factor));
        }
        ~ h4 {
            --margin-factor: var(--h2-em);
            color: var(--sp-text);
            text-align: center;
            opacity: 0.8;
        }
    }
    h3 {
        font-size: calc(1em * var(--h3-em));
        color: var(--sp-accent);
        text-align: center;
        font-weight: 700;
        &, ~ h4 {
            margin-bottom: calc(0.3em * var(--margin-factor));
        }
        ~ h4 {
            --margin-factor: var(--h3-em);
        }
    }
}}

.theme-draft { :root& .sp-slide:not(.nogt), .sp-slide& {
    /* Paper Sketchbook Aesthetics */
    font-family: 'Cabin Sketch', display;
    --sp-bg: lch(95 3 200); /* Creamy off-white paper tone */
    --sp-text: lch(10 15 0); /* Charcoal/Graphite color */

    /* Paper Texture Simulation */
    background: url("data:image/svg+xml;utf8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 1920 1920%22%3E%3Cdefs%3E%3Cfilter id%3D%22noise%22 x%3D%220%25%22 y%3D%220%25%22 width%3D%22100%25%22 height%3D%22100%25%22%3E%3CfeTurbulence type%3D%22fractalNoise%22 baseFrequency%3D%220.98%22 numOctaves%3D%221%22 seed%3D%22191518%22 stitchTiles%3D%22stitch%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%222.2 0 0 0 -0.55  0 2.2 0 0 -0.55  0 0 2.2 0 -0.55  0 0 0 1 0%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%22-1 0 0 0 1  0 -1 0 0 1  0 0 -1 0 1  0 0 0 1 0%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%220 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0.33 0.33 0.34 0 0%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Crect width%3D%221920%22 height%3D%221920%22 fill%3D%22%23ffffff%22%2F%3E%3Crect width%3D%221920%22 height%3D%221920%22 filter%3D%22url(%23noise)blur(1px)%22 opacity%3D%220.200%22%2F%3E%3C%2Fsvg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    [data-dark-mode="dark"] & {
        background: url("data:image/svg+xml;utf8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 1920 1920%22%3E%3Cdefs%3E%3Cfilter id%3D%22noise%22 x%3D%220%25%22 y%3D%220%25%22 width%3D%22100%25%22 height%3D%22100%25%22%3E%3CfeTurbulence type%3D%22fractalNoise%22 baseFrequency%3D%220.98%22 numOctaves%3D%221%22 seed%3D%22191518%22 stitchTiles%3D%22stitch%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%222.2 0 0 0 -0.55  0 2.2 0 0 -0.55  0 0 2.2 0 -0.55  0 0 0 1 0%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%22-1 0 0 0 1  0 -1 0 0 1  0 0 -1 0 1  0 0 0 1 0%22%2F%3E%3CfeColorMatrix type%3D%22matrix%22 values%3D%220 1 0 0 0  0 1 0 0 0  0 0 1 0 0  0.33 0.33 0.34 0 0%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Crect width%3D%221920%22 height%3D%221920%22 fill%3D%22%23000000%22%2F%3E%3Crect width%3D%221920%22 height%3D%221920%22 filter%3D%22url(%23noise)blur(1px)%22 opacity%3D%220.350%22%2F%3E%3C%2Fsvg%3E");
    }
    & > * > *:not(h1,h2,h3,h4) {
        font-family: 'Cedarville Cursive', handwriting !important;
    }
}}

.theme-simple { :root& .sp-slide:not(.nogt), .sp-slide& {
    h1 { color: var(--sp-accent); }
    h2 { color: var(--sp-accent-2); }
    h3 { color: var(--sp-accent-text); }
}}

.theme-funky { :root& .sp-slide:not(.nogt), .sp-slide& {
  --sp-theme-hue: 310;
  --sp-theme-secondary-hue: 165;
  --sp-bg: lch(98 4 310);
  --sp-heading-1: var(--sp-accent);
  --sp-heading-2: var(--sp-accent-2);
  --sp-heading-3: var(--sp-accent-text);
  background-color: var(--sp-bg);
  background-image: radial-gradient(120% 90% at 15% 0%, lch(4 30 var(--sp-theme-hue) / 0.9), transparent 60%),
                    radial-gradient(120% 90% at 85% 100%, lch(5 30 var(--sp-theme-secondary-hue)  / 0.8), transparent 60%);
  [data-dark-mode="dark"] & {
    --sp-bg: lch(13 12 310);
    background-image: radial-gradient(120% 90% at 15% 0%, lch(98 30 var(--sp-theme-hue) / 0.9), transparent 60%),
                      radial-gradient(120% 90% at 85% 100%, lch(97 30 var(--sp-theme-secondary-hue) / 0.8), transparent 60%);
  }
}}




