.sp-slide-prev,
.sp-slide-current,
.sp-slide-next {
  position: absolute;
  inset: 0;
}

.sp-slide-prev {
  transform: translateX(-100%);
}

.sp-slide-current {
  transform: translateX(0);
}

.sp-slide-next {
  transform: translateX(100%);
}

.sp-slide-move,
.sp-fade-move,
.sp-slide-up-move,
.sp-zoom-move {
  transition: transform var(--sp-transition-duration, 0.3s) ease;
}

.sp-fade-enter-active,
.sp-fade-leave-active { transition: opacity var(--sp-transition-duration, 0.3s) ease; }
.sp-fade-enter-from,
.sp-fade-leave-to { opacity: 0; }

.sp-slide-up-enter-active,
.sp-slide-up-leave-active { transition: all var(--sp-transition-duration, 0.3s) ease; }
.sp-slide-up-enter-from { opacity: 0; transform: translateY(calc(var(--sp-design-height) / 20)); }
.sp-slide-up-leave-to { opacity: 0; transform: translateY(calc(-1 * var(--sp-design-height) / 20)); }

.sp-zoom-enter-active,
.sp-zoom-leave-active { transition: all var(--sp-transition-duration, 0.3s) ease; }
.sp-zoom-enter-from { opacity: 0; transform: scale(0.8); }
.sp-zoom-leave-to { opacity: 0; transform: scale(1.1); }
